/* - Paleta de cor
.color1 {color: #413354;}
.color2 {color: #664266;}
.color3 {color: #a25b81;}
.color4 {color: #f382a0;}
.color5 {color: #f8b4b5;}

---- OUTRA OPÇÃO

#331327
#991766
#d90f5a
#f34739
#ff6e27
*/


    



header {
    display: flex;
    background-color: #331327;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
    justify-content: space-between;
}

#logo {
    background-color: #a25b81;
    height: 60px;
}

#logo:hover{
    transform: scale(1.06);
    background-color: #d90f5a;
}

nav{
    text-align: right;  
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    background-color: #a25b81;
    width: 10px;
    height: 10px;
    margin-right: 10px; 
}

a:hover::before{
    background-color: #d90f5a;
}



