/* - Paleta de cor
.color1 {color: #413354;}
.color2 {color: #664266;}
.color3 {color: #a25b81;}
.color4 {color: #f382a0;}
.color5 {color: #f8b4b5;}

---- OUTRA OPÇÃO

#331327
#991766
#d90f5a
#f34739
#ff6e27
*/


    



header {
    display: flex;
    background-color: #331327;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
    justify-content: space-between;
}


nav{
    text-align: right;  
}





footer{
    background: #000000;
}