.card-wrapper{
    
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 
    
}

.card-project{

    margin-left: auto;
    margin-right: auto;
    height: 280px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    box-shadow: 10px 10px #FFFFFF;
    transition: transform 300ms;
    background-color: #d90f5a;
}

.card-project:hover{
    transform: scale(1.06);
}

.card-project .logo{
    max-height: 280px;
    max-width: 280px;

}



.card-project.-blue{
    background-color: #4C5B84;
    
}