.header {
    display: flex;
    background-color: #331327;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
    justify-content: space-between;
}


#header-logo {
    background-color: #a25b81;
    height: 60px;
}

#header-logo:hover{
    transform: scale(1.06);
    background-color: #d90f5a;
}

