
.main-section{  
    background: #A25B81;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #331327;
    
}

.main-section.-bgBlack {   
    background-color: #000000;
   
}

.main-section.-bgPurple {    
    background-color: #331327;
    
}

.main-section.-bgGrey {    
    background-color: #3A4042;    
}

.main-section.-bdFirst {
    border-color: #d90f5a;
}

.main-section.-bdSecond {
    border-color: #A25B81;
}

.main-section.-bdThird {
    border-color: #331327;
}




