.main-form{
    display: flex;
    font-size: 30px;
    font: 300;
    color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px;
    
   
}

.main-form .form-inputs{
    
    box-sizing: content-box;
    margin-bottom: 20px;
}



.main-form .form-inputs .input-area{
    width: 99%;
    border: 5px solid #000;
    height: 50px;
    font-size: 20px;
}

#message {
    min-height: 300px;
    font-size: 25px;
}