
.section-skills {
    
    
    background: #A25B81;
    padding-top: 50px;
    align-items: center;
    border-bottom: 10px solid #331327;
}

.section-projects {    
    padding-left: 235px;
    background: #000000;
    padding-top: 50px;
    align-items: center;
    border-bottom: 10px solid  #d90f5a;
}

.section-about {    
    padding-left: 235px;
    background: #331327;
    padding-top: 50px;
    align-items: center;
    border-bottom: 10px solid #A25B81;
}

.section-contact {    
    padding-left: 235px;
    background: #3A4042;
    padding-top: 50px;
    align-items: center;
    
}