
.section{
    background: #A25B81;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #331327;
}

.section.-projects {    
    background: #000000;
    border-bottom: 10px solid  #d90f5a;
}

.section.-about {    
    background: #331327;
    border-bottom: 10px solid #A25B81;
}

.section.-contact {    
    background: #3A4042;    
}