
.skill-box {
    display: flex;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #ffffff;
    align-items: center;
    
 
    
}


.skill-box .icon{
    margin-right: 25px;
    width: 90px;
    
    max-height: 90px;
}



.skill-box .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.skill-box .title{
    margin-bottom: 10px;
}




